<div class="container">
  <h1>New Arrivals</h1>
  <div class="image-row">
    <div class="image-container New1">
      <img src="assets/img/New1.jpg" class="img-fluid" alt="YourChoiceLogo">
      <div class="image-text New">
        <button class="new-button" type="button New1">SHOP WOMEN</button>
      </div>
    </div>
    <div class="image-container New2">
      <img src="assets/img/New2.jpg" class="img-fluid" alt="YourChoiceLogo">
      <div class="image-text New">
        <button class="new-button" type="button New2">SHOP KIDS</button>
      </div>
    </div>
    <div class="image-container New3">
      <img src="assets/img/New3.jpg" class="img-fluid" alt="YourChoiceLogo">
      <div class="image-text New">
        <button class="new-button" type="button New3">SHOP MEN</button>
      </div>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/img/shopNow.webp" class="img-fluid" alt="YourChoiceLogo">
    <div class="image-text">
      <button type="button">Shop Now!</button>
    </div>
  </div>
</div>
