.carousel-item img {
  height: 500px; /* Set the desired height for the carousel images */
  object-fit: cover; /* Maintain the aspect ratio and fill the entire height */
  width: 100%; /* Set the width to occupy the full width of the site */
  overflow: hidden; /* Hide any content that overflows outside the carousel item */
}
